* {
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-align: center;
	/*font-family: 'proxima-nova', Helvetica;*/
	font-family: "Microsoft YaHei", "微软雅黑", "Microsoft JhengHei", "华文细黑", "STHeiti", "MingLiu";
	/*全页黑白（用于国家级禁娱纪念日使用）*/
	/*-webkit-filter: grayscale(100%);*/
}

#header {
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.header_left {
	float: left;
	margin: 30px 0 0 100px;
	cursor: pointer;
}

.header_left img {
	width: 50px;
	height: 50px;
}

.header_right {
	float: right;
	margin: 0 100px 0 0;
	cursor: pointer;
}

.header_right img {
	width: 25px;
	height: 25px;
	margin-top: 15px;
}

.nav {
	line-height: 125px;
	display: block;
	list-style-type: disc;
	/*margin-block-start: 1em;*/
	/*margin-block-end: 1em;*/
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}

.header_links_item {
	line-height: 55px;
	height: 55px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 25px;
}

.header_links_item a {
	color: #d8d8d8;
	text-shadow: 0 1px 2px rgb(0 0 0 / 40%);
	vertical-align: middle;
	text-decoration: none;
}

.header_links_item a.header_links_item_active {
	color: #fff;
	border-bottom: 2px solid #e5eeed;
	padding: 0 3px 3px;
}

#container {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
}

#background_video {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
	height: 100%;
	width: 100%;
}

#video_cover {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url('../img/video_cover.jpg') no-repeat;
	background-size: cover;
	background-position: center;
}

#video_controls {
	z-index: 9;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	margin-top: 30px;
}

#overlay {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
}

#play img {
	width: 50px;
}

#play {
	cursor: pointer;
}

#pause img {
	width: 50px;
}

#pause {
	cursor: pointer;
	display: none;
}

/*#main_head {*/
	/*position: absolute;*/
	/*display: inline-block;*/
	/*top: 10%;*/
	/*left: 3%;*/
	/*transform: translateY(-50%);*/
/*}*/

#main_content_phone {
	z-index: 2;
	position: relative;
	display: inline-block;
	/* Vertical center */
	top: 50%;
	transform: translateY(-50%);
}

#main_content_phone h1 {
	/*text-transform: uppercase;*/
	font-weight: 600;
	font-family: 'proxima-nova-condensed', Helvetica;
	color: #fff;
	font-size: 36px;
}

#main_content_phone .sub_head {
	color: rgba(255, 255, 255, 0.5);
	font-size: 18px;
}

#main_content_phone .info {
	color: rgba(255, 255, 255, 0.5);
	font-size: 12px;
	margin-top: 10px;
}

#main_content {
	z-index: 2;
	position: relative;
	display: inline-block;
	/* Vertical center */
	top: 50%;
	transform: translateY(-50%);
}

#main_content h1 {
	/*text-transform: uppercase;*/
	font-weight: 600;
	font-family: 'proxima-nova-condensed', Helvetica;
	color: #fff;
	font-size: 36px;
}

#main_content .sub_head {
	color: rgba(255, 255, 255, 0.5);
	font-size: 18px;
}

#links {
	margin-top: 30px;
	/*text-align: right;*/
}

#links a {
	border: 2px solid rgba(255, 255, 255, 0.20);
	border-radius: 61px;
	font-size: 12px;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 25px;
	display: inline-block;
	/*margin-right: 15px;*/
}

#footer {
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	width: 100%;
	background: transparent;
	text-align: center;
	font-size: 14px;
}

.footer_links span,a {
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
	/*margin: 10px 0 10px 0;*/
	/*font-size: 12px;*/
}

/*#footer a:first-child {
	margin-left: 10px;
	float: left;
}

#footer a:last-child {
	margin-right: 10px;
	float: right;
}*/

/*#footer span:first-child {*/
	/*cursor: pointer;*/
	/*margin-left: 30px;*/
	/*float: left;*/
/*}*/

/*#footer span:last-child {*/
	/*cursor: pointer;*/
	/*margin-right: 30px;*/
	/*float: right;*/
/*}*/

.qrarea {
	vertical-align: middle;
	cursor: pointer;
}

.qrarea:hover +.qrcode {
	opacity: 1;
	z-index: 100;
	-webkit-transform: scale(1.23);
	transform: scale(1.23);
	-moz-transform:scale(1.23);
	-o-transform:scale(1.23);
}

.qrcode {
	position: absolute;
	z-index: -1;
	opacity: 0;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	left: 40%;
	/*right: 2.5%;*/
	-webkit-transform-origin: top;
	transform-origin: top;
}

.miniarea {
	vertical-align: middle;
	cursor: pointer;
}

.miniarea:hover +.minicode {
	opacity: 1;
	z-index: 100;
	-webkit-transform: scale(1.23);
	transform: scale(1.23);
	-moz-transform:scale(1.23);
	-o-transform:scale(1.23);
}

.minicode {
	position: absolute;
	z-index: -1;
	opacity: 0;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	right: 40%;
	/*right: 2.5%;*/
	-webkit-transform-origin: top;
	transform-origin: top;
}

.qrcode img,.minicode img {
	width: 108px;
	height: 108px;
	border-radius: 6px;
}

.report_box {
	position: absolute;
	right: 10px;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4px 8px;
	background: #000;
	opacity: .6;
	border-radius: 4px;
	font-size: 12px;
	line-height: 17px;
}

.report_box img {
	margin-top: -1px;
	height: 14px;
	width: 14px;
	margin-right: 4px;
}